In [1]:
# "I'm going to breakdown alcohol sales by state in the US, 
# and find out which type of alcohol is the most popular for 
# each state.  state, alcohol type, and sales. Then I'll create graphs using matplotlib
# that show the total alcohol sales by state and the type of alcohol that is most popular for each one.

In [2]:
#import all of your modules

import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [3]:
#read in local csv file and create dataframe; I've named it 'df' to keep it simple

df = pd.read_csv('Data-Table1.csv')

print(df)

      Year  Month  FIPS  Beverage    Gallons  Ethanol  Population  PerCapita  \
0     2017      1     2         1   103645.0    42598      594304     0.0717
1     2017      1     8         1   733857.0   301615     4639112     0.0650
2     2017      1     9         1   412100.0   169373     3017061     0.0561
3     2017      1    10         1   180388.0    74139      800398     0.0926
4     2017      1    12         1  2770686.0  1138752    17733837     0.0642
...    ...    ...   ...       ...        ...      ...         ...        ...
2907  2021      8    27         4        NaN  1248935     4652447     0.2684
2908  2021      8    29         4        NaN  1212586     5093948     0.2380
2909  2021      8    38         4        NaN   187757      620677     0.3025
2910  2021      8    47         4        NaN  1173051     5718921     0.2051
2911  2021      8    48         4        NaN  4585911    23608900     0.1942

      PerCapita3yr  PctChange
0              NaN        NaN
1              NaN        NaN
2              NaN        NaN
3              NaN        NaN
4              NaN        NaN
...            ...        ...
2907        0.2577     0.0416
2908        0.2236     0.0646
2909        0.2730     0.1082
2910        0.1785     0.1491
2911        0.1938     0.0023

[2912 rows x 10 columns]

In [4]:
# run the pandas.DataFrame.head to get a quick idea of what it looks like

df.head()

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,2,1,103645.0,42598,594304,0.0717,NaN,NaN
1,2017,1,8,1,733857.0,301615,4639112,0.0650,NaN,NaN
2,2017,1,9,1,412100.0,169373,3017061,0.0561,NaN,NaN
3,2017,1,10,1,180388.0,74139,800398,0.0926,NaN,NaN
4,2017,1,12,1,2770686.0,1138752,17733837,0.0642,NaN,NaN

In [5]:
# looking at type verifies that we have indeed created a DataFrame

type(df)

pandas.core.frame.DataFrame

In [6]:
# Let's print the data types of the columns in the data set

print(df.dtypes)

Year              int64
Month             int64
FIPS              int64
Beverage          int64
Gallons         float64
Ethanol           int64
Population        int64
PerCapita       float64
PerCapita3yr    float64
PctChange       float64
dtype: object

<h1> Data Clean Up </h1>

In [7]:
# We can sort out the rows for the years that we want to focus on, 2019 - 2021, using the 
# pandas.DataFrame.isin method

df = df[~df['Year'].isin([2017, 2018])]
print(df)

      Year  Month  FIPS  Beverage    Gallons  Ethanol  Population  PerCapita  \
1248  2019      1     2         1   112835.0    46375      591039     0.0785
1249  2019      1     8         1   889500.0   365585     4791946     0.0763
1250  2019      1     9         1   614817.0   252690     3019599     0.0837
1251  2019      1    10         1   210789.0    86634      818920     0.1058
1252  2019      1    12         1  3281500.0  1348697    18218901     0.0740
...    ...    ...   ...       ...        ...      ...         ...        ...
2907  2021      8    27         4        NaN  1248935     4652447     0.2684
2908  2021      8    29         4        NaN  1212586     5093948     0.2380
2909  2021      8    38         4        NaN   187757      620677     0.3025
2910  2021      8    47         4        NaN  1173051     5718921     0.2051
2911  2021      8    48         4        NaN  4585911    23608900     0.1942

      PerCapita3yr  PctChange
1248           NaN        NaN
1249           NaN        NaN
1250           NaN        NaN
1251           NaN        NaN
1252           NaN        NaN
...            ...        ...
2907        0.2577     0.0416
2908        0.2236     0.0646
2909        0.2730     0.1082
2910        0.1785     0.1491
2911        0.1938     0.0023

[1664 rows x 10 columns]

In [8]:
# the last two columns are mostly empty of data so they can be dropped using the pandas.DataFrame.drop method
# I've left most of the columns for future use

to_drop = ['PerCapita3yr',
          'PctChange']

df.drop(to_drop, inplace=True, axis=1)
df.head()

      Year  Month  FIPS  Beverage    Gallons  Ethanol  Population  PerCapita
1248  2019      1     2         1   112835.0    46375      591039     0.0785
1249  2019      1     8         1   889500.0   365585     4791946     0.0763
1250  2019      1     9         1   614817.0   252690     3019599     0.0837
1251  2019      1    10         1   210789.0    86634      818920     0.1058
1252  2019      1    12         1  3281500.0  1348697    18218901     0.0740

In [9]:
# some of the rows have null entries and can be dropped as well

df.dropna(inplace=True)
print(df)

      Year  Month  FIPS  Beverage     Gallons  Ethanol  Population  PerCapita
1248  2019      1     2         1    112835.0    46375      591039     0.0785
1249  2019      1     8         1    889500.0   365585     4791946     0.0763
1250  2019      1     9         1    614817.0   252690     3019599     0.0837
1251  2019      1    10         1    210789.0    86634      818920     0.1058
1252  2019      1    12         1   3281500.0  1348697    18218901     0.0740
...    ...    ...   ...       ...         ...      ...         ...        ...
2894  2021      8    27         3  10841848.0   487883     4652447     0.1049
2895  2021      8    29         3  11128509.0   500783     5093948     0.0983
2896  2021      8    38         3   2069134.0    93111      620677     0.1500
2897  2021      8    47         3  11625691.0   523156     5718921     0.0915
2898  2021      8    48         3  58112092.0  2615044    23608900     0.1108

[1248 rows x 8 columns]

In [10]:
# Rename FIPS column to State, so that it's more clear. In the original file, FIPS is the Geographic ID code.

df.rename(columns={"FIPS" : "State"}, inplace=True)
print(df)

      Year  Month  State  Beverage     Gallons  Ethanol  Population  PerCapita
1248  2019      1      2         1    112835.0    46375      591039     0.0785
1249  2019      1      8         1    889500.0   365585     4791946     0.0763
1250  2019      1      9         1    614817.0   252690     3019599     0.0837
1251  2019      1     10         1    210789.0    86634      818920     0.1058
1252  2019      1     12         1   3281500.0  1348697    18218901     0.0740
...    ...    ...    ...       ...         ...      ...         ...        ...
2894  2021      8     27         3  10841848.0   487883     4652447     0.1049
2895  2021      8     29         3  11128509.0   500783     5093948     0.0983
2896  2021      8     38         3   2069134.0    93111      620677     0.1500
2897  2021      8     47         3  11625691.0   523156     5718921     0.0915
2898  2021      8     48         3  58112092.0  2615044    23608900     0.1108

[1248 rows x 8 columns]

In [11]:
# Let's convert Gallons into an integer, so it's easier to use that data in the future. The column was designated 
# as a float type since there were rows that had null entries

df['Gallons'] = df['Gallons'].round().astype('int64')
print(df.dtypes)

Year            int64
Month           int64
State           int64
Beverage        int64
Gallons         int64
Ethanol         int64
Population      int64
PerCapita     float64
dtype: object

In [12]:
# we also don't need the state or beverage as integers, so let's convert those to a string

df['State'] = df['State'].astype('str')

df['Beverage'] = df['Beverage'].astype('str')

print(df.dtypes)

Year            int64
Month           int64
State          object
Beverage       object
Gallons         int64
Ethanol         int64
Population      int64
PerCapita     float64
dtype: object

In [13]:
# These are dictionaries for the State and Beverage columns, that are included in the Assets/ folder
# in the Definitions.csv file

statelist = ['Alaska','Colorado','Connecticut','Delaware','Florida','Illinois','Kentucky',
             'Massachusetts','Minnesota','Missouri','North Dakota','Tennessee','Texas' ]
print(statelist)

['Alaska', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Illinois', 'Kentucky', 'Massachusetts', 'Minnesota', 'Missouri', 'North Dakota', 'Tennessee', 'Texas']

In [14]:
alclist = ['spirits','wine','beer']

print(alclist)

['spirits', 'wine', 'beer']

In [15]:
#for ease of use, since we've changed those columns to strings, we can go ahead and also change the 
#data in those columns

df['Beverage'] = df['Beverage'].replace(['1', '2', '3'], ['spirits', 'wine', 'beer'])
df['State'] = df['State'].replace(['2','8','9','10','12','17','21','25','27','29','38','47','48'], 
                                  ['Alaska','Colorado','Connecticut','Delaware','Florida','Illinois',
                                   'Kentucky','Massachusetts','Minnesota','Missouri','North Dakota',
                                   'Tennessee','Texas'])
df.head

<bound method NDFrame.head of       Year  Month         State Beverage   Gallons  Ethanol  Population  \
1248  2019      1        Alaska  spirits    112835    46375      591039
1249  2019      1      Colorado  spirits    889500   365585     4791946
1250  2019      1   Connecticut  spirits    614817   252690     3019599
1251  2019      1      Delaware  spirits    210789    86634      818920
1252  2019      1       Florida  spirits   3281500  1348697    18218901
...    ...    ...           ...      ...       ...      ...         ...
2894  2021      8     Minnesota     beer  10841848   487883     4652447
2895  2021      8      Missouri     beer  11128509   500783     5093948
2896  2021      8  North Dakota     beer   2069134    93111      620677
2897  2021      8     Tennessee     beer  11625691   523156     5718921
2898  2021      8         Texas     beer  58112092  2615044    23608900

      PerCapita
1248     0.0785
1249     0.0763
1250     0.0837
1251     0.1058
1252     0.0740
...         ...
2894     0.1049
2895     0.0983
2896     0.1500
2897     0.0915
2898     0.1108

[1248 rows x 8 columns]>

<h1> Data Analysis </h1>

In [16]:
# function to see total amount of gallons sold between years of 2019 - 2021

totalgallons = df['Gallons'].sum()
print('The total gallons of alcohol sold between the years of 2019 - 2021 is', totalgallons)

The total gallons of alcohol sold between the years of 2019 - 2021 is 7013589746

In [17]:
#function to see total amount of gallons sold, filtered by year
print('Enter year (2019 through 2021):')
useryear = int(input()) 
gallonsyear = df.loc[df['Year'] == useryear, 'Gallons'].sum()
print('The total gallons of alcohol sold in', useryear, 'is', gallonsyear)

Enter year (2019 through 2021):
2021
The total gallons of alcohol sold in 2021 is 1802155947

In [23]:
# function to see total amount of gallons sold, filtered by state
print(statelist)
print('Enter state:' )
userstate = input()
stategallons = df.loc[df['State'] == userstate, 'Gallons'].sum()
print('The total gallons of alcohol sold in this state is', stategallons)

['Alaska', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Illinois', 'Kentucky', 'Massachusetts', 'Minnesota', 'Missouri', 'North Dakota', 'Tennessee', 'Texas']
Enter state:
Connecticut
The total gallons of alcohol sold in this state is 200840373

In [26]:
# function to see total amount of gallons sold, filtered by type of beverage
print(alclist)
print('Enter beverage:' )
userbev = input()
bevtotal = df.loc[df['Beverage'] == userbev, 'Gallons'].sum()
print('The total gallons of', userbev, 'sold is', bevtotal)

['spirits', 'wine', 'beer']
Enter beverage:
beer
The total gallons of beer sold is 5625857866

In [ ]:
# function to see total amount of gallons sold, filtered by year, state and type of beverage; please refer to 
# statelist and alclist  

def alcsales():
    print('Enter year (2019 through 2021):')
    useryear2 = int(input())

    print('Enter state:')
    userstate2 = input()

    print('Enter beverage:')
    userbev2 = input()
    
    gallonsfilt = df.loc[(df['Year'] == useryear2) & (df['State'] == userstate2) & (df['Beverage'] == userbev2),
                    'Gallons'].sum()

    print(gallonsfilt)

alcsales()

Enter year (2019 through 2021):

In [44]:
#function to find mean of gallons sold per year  should use groupby****
 
gallonavg = df['Gallons'].mean()

print(gallonavg)

5619863.578525641

In [ ]:
# bar graph for states and gallons

In [ ]:
#  graph for states and type of beverage () sum of gallons sorted by type